/* =====================
   LIGHTBOX
===================== */


.lightbox{

position:fixed;

inset:0;

background:rgba(0,0,0,.85);

display:none;

align-items:center;

justify-content:center;

z-index:9999;

}



.lightbox.active{

display:flex;

}



.lightbox img{

max-width:90%;

max-height:85%;

border-radius:20px;

}



.lightbox-close{

position:absolute;

top:30px;

right:40px;

font-size:50px;

color:white;

cursor:pointer;

font-weight:bold;

}



.gallery-link{

cursor:pointer;

}