/* =========================
 HEADER FIX
========================= */


.main-header{

position:sticky;
top:0;
z-index:1000;

}



.header-actions{

display:flex;
align-items:center;
gap:12px;

}



.header-search{

display:flex;
align-items:center;

background:white;

border-radius:30px;

overflow:hidden;

height:40px;

}



.header-search input{

border:none;
outline:none;

padding:0 15px;

width:150px;

}



.header-search button{

border:none;

height:40px;

width:45px;

background:#E8D8C3;

color:#1F4D3A;

}



.cart-icon{

position:relative;

}



#cartCount{

position:absolute;

top:-8px;
right:-10px;

background:#b58b5a;

color:white;

width:22px;
height:22px;

border-radius:50%;

font-size:12px;

display:flex;

align-items:center;
justify-content:center;

}



@media(max-width:991px){

.header-actions{

margin-top:20px;

justify-content:center;

}


}