.mini-cart{


position:fixed;

right:25px;

bottom:25px;


width:280px;


background:white;


border-radius:20px;


box-shadow:
0 10px 35px rgba(0,0,0,.15);


z-index:999;



overflow:hidden;


}



.mini-cart-header{


background:#1f4d3a;


color:white;


padding:18px;


font-size:20px;


font-weight:700;


}



.mini-cart-header i{


margin-right:10px;


}



.mini-cart-body{


padding:20px;


color:#444;


}



.mini-cart-body strong{


color:#1f4d3a;


}



.mini-cart-btn,
.mini-order-btn{


display:block;


margin:10px 20px;


padding:12px;


text-align:center;


border-radius:25px;


text-decoration:none;


font-weight:600;


}



.mini-cart-btn{


background:#eee;


color:#1f4d3a;


}



.mini-order-btn{


background:#1f4d3a;


color:white;


}



.mini-order-btn:hover{


background:#b58b5a;


color:white;


}



@media(max-width:576px){


.mini-cart{


right:10px;

bottom:10px;


width:calc(100% - 20px);


}


}