/* ---------- TABLET ---------- */

@media (max-width: 991.98px) {


.shop-tools {
    grid-template-columns:
        1fr 1fr;
}


.search-box {
    grid-column:
        1 / -1;
}


.product-image {
    height: 270px;
}


}

/* ---------- MOBILE ---------- */

@media (max-width: 575.98px) {


.page-title {
    padding: 65px 0;
}


.page-title h1 {
    font-size: 37px;
}


.page-title p {
    padding:
        0 10px;

    font-size: 15px;
}


.products-section {
    padding:
        50px 0 70px;
}


.shop-tools {
    grid-template-columns:
        1fr;

    gap: 12px;

    padding: 14px;
}


.search-box {
    grid-column:
        auto;
}


.product-image {
    height: 300px;
}


.product-info {
    padding: 20px;
}


.product-actions {
    grid-template-columns:
        1fr;
}


.details-btn,
.cart-btn {
    width: 100%;
}

}
/* MOBILE */


@media(max-width:768px){


.cta-content h2{

font-size:32px;

}


.cta-content p{

font-size:15px;

}


}
@media(max-width:768px){

.location-buttons{

    flex-direction:column;

}


.call-btn,
.whatsapp-btn{

    width:100%;

}

}
@media (max-width: 576px) {

    .product-actions {
        flex-direction: column;
    }

    .product-actions .order-btn {
        width: 100%;
    }

}
