
<footer class="main-footer">


<div class="container">


<div class="row g-5">


<!-- ABOUT -->

<div class="col-lg-4 col-md-6">


<div class="footer-brand">


<h3>
🌿 ՊՍԱԿՆԵՐ
</h3>


<p>
Պատրաստում ենք գեղեցիկ և
որակյալ ծաղկեպսակներ՝
հարգանքի, հիշատակի և
կարևոր պահերի համար։
</p>



<div class="footer-social">


<a 
href="https://www.facebook.com/Lusine.Xalatyan78/"
target="_blank"
aria-label="Facebook">

<i class="bi bi-facebook"></i>

</a>



<a 
href="https://www.instagram.com/flower_by_lusi/"
target="_blank"
aria-label="Instagram">

<i class="bi bi-instagram"></i>

</a>



<a 
href="https://wa.me/37494631200"
target="_blank"
aria-label="WhatsApp">

<i class="bi bi-whatsapp"></i>

</a>



<a 
href="viber://chat?number=%2B37494631200"
aria-label="Viber">

<i class="bi bi-telephone"></i>

</a>


</div>


</div>


</div>





<!-- LINKS -->

<div class="col-lg-2 col-md-6">


<h4>
Հղումներ
</h4>


<ul class="footer-links">


<li>
<a href="index.html">
Գլխավոր
</a>
</li>


<li>
<a href="about.html">
Մեր մասին
</a>
</li>


<li>
<a href="products.html">
Տեսականի
</a>
</li>


<li>
<a href="delivery.html">
Առաքում
</a>
</li>


<li>
<a href="contact.html">
Կապ մեզ հետ
</a>
</li>


</ul>


</div>





<!-- LEGAL -->

<div class="col-lg-3 col-md-6">


<h4>
Իրավական
</h4>


<ul class="footer-links">


<li>
<a href="privacy-policy.html">
Գաղտնիության քաղաքականություն
</a>
</li>



<li>
<a href="terms.html">
Օգտագործման պայմաններ
</a>
</li>



<li>
<a href="payment.html">
Վճարում և առաքում
</a>
</li>



<li>
<a href="return-policy.html">
Վերադարձի պայմաններ
</a>
</li>


</ul>


</div>





<!-- CONTACT -->

<div class="col-lg-3 col-md-6">


<h4>
Կապ
</h4>


<ul class="footer-contact">


<li>

<i class="bi bi-telephone"></i>

<a href="tel:+37494631200">

+374 94 631200

</a>

</li>




<li>

<i class="bi bi-envelope"></i>

<a href="mailto:info@example.com">

info@example.com

</a>

</li>




<li>

<i class="bi bi-geo-alt"></i>

<span>

Երևան, Հասրաթյան 8/8, 0031

</span>

</li>




<li>

<i class="bi bi-clock"></i>

<span>

Ամեն օր 09:00 - 21:00

</span>

</li>


</ul>


</div>



</div>



<hr>



<div class="footer-bottom">


<p>

© 2026 ՊՍԱԿՆԵՐ։
Բոլոր իրավունքները պաշտպանված են։

</p>


</div>



</div>


</footer>

