
<header class="main-header">

    <nav class="navbar navbar-expand-lg">

        <div class="container">


            <!-- LOGO -->

            <a 
                class="navbar-brand logo"
                href="index.html"
                aria-label="Ծաղկեպսակներ գլխավոր էջ"
            >

                <span class="logo-icon">
                    🌿
                </span>


                <div class="logo-text">

                    <span class="logo-title">
                        ԾԱՂԿԵՊՍԱԿՆԵՐ
                    </span>
<br>
                    <small>
                        Հարգանք և հիշողություն՝
                        ծաղիկների միջոցով
                    </small>

                </div>

            </a>




            <!-- MOBILE BUTTON -->

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainMenu"
                aria-controls="mainMenu"
                aria-expanded="false"
                aria-label="Բացել մենյուն"
            >

                <span class="navbar-toggler-icon"></span>

            </button>





            <!-- MENU -->

            <div
                class="collapse navbar-collapse"
                id="mainMenu"
            >


                <ul class="navbar-nav mx-auto">


                    <li class="nav-item">

                        <a 
                            href="index.html"
                            class="nav-link"
                        >
                            Գլխավոր
                        </a>

                    </li>



                    <li class="nav-item">

                        <a 
                            href="products.html"
                            class="nav-link"
                        >
                            Մեր տեսականին
                        </a>

                    </li>




                    <li class="nav-item">

                        <a 
                            href="about.html"
                            class="nav-link"
                        >
                            Մեր մասին
                        </a>

                    </li>




                    <li class="nav-item">

                        <a 
                            href="delivery.html"
                            class="nav-link"
                        >
                            Առաքում
                        </a>

                    </li>




                    <li class="nav-item">

                        <a 
                            href="contact.html"
                            class="nav-link"
                        >
                            Կապ
                        </a>

                    </li>


                </ul>







                <!-- HEADER ACTIONS -->


                <div class="header-actions">



                    <!-- SEARCH -->

                    <div class="header-search">


                        <input

                            type="search"

                            id="headerSearchInput"

                            placeholder="Փնտրել պսակ..."

                            aria-label="Փնտրել պսակ"

                        >



                        <button

                            type="button"

                            id="headerSearchButton"

                            aria-label="Փնտրել"

                        >

                            <i class="bi bi-search"></i>

                        </button>


                    </div>







                    <!-- CART -->

                    <a

                        href="cart.html"

                        class="cart-icon"

                        aria-label="Զամբյուղ"

                    >

                        <i class="bi bi-cart3"></i>


                        <span id="cartCount">
                            0
                        </span>


                    </a>







                    <!-- PHONE -->

                    <a

                        href="tel:+37494631200"

                        class="call-btn"

                        aria-label="Զանգահարել"

                    >

                        <i class="bi bi-telephone-fill"></i>

                    </a>








                    <!-- WHATSAPP -->


                    <a

                        href="https://wa.me/37494631200?text=Բարև, ցանկանում եմ պատվիրել ծաղկեպսակ"

                        class="whatsapp-btn"

                        target="_blank"

                        rel="noopener"

                        aria-label="Գրել WhatsApp-ով"

                    >

                        <i class="bi bi-whatsapp"></i>


                    </a>

<a href="viber://chat?number=+37494631200"
   class="header-viber"
   aria-label="Viber"
   title="Գրել Viber-ով">
    <i class="fab fa-viber"></i>
</a>

                </div>



            </div>


        </div>


    </nav>


</header>
